
.newspaper-tittle {
    color: #ffffff;
    font-weight: bold;
    font-family: Cambria;
    text-align: center;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 25px;
    margin-top: 25px;
    background-color: #3b3b3b;
    border: 1px;
    border-color: black;
  }

.tittle {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 0px;
    margin-right: 20px;
    border-radius: 0px;
    padding-top: 0px;
}
.index {
    color: #ca8d50;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    background-color: black;
    border-radius: 50px;
}
.tittle_div {
    text-align: justify;
}
.article-card {
    background-color: #3b3b3b	;
    color: #ffffff;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
    border-radius: 5px 30px 30px 30px;
    border: 2px;
    border-color: black;
}

.category {
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
    color: #ca8d50;
}
.publish {
    padding: 0px;
    margin: 0px;
    color: #ca8d50;
}
.news {
    text-align: justify;
}
